.checkbox {
  position: relative;
  display: inline-block;
  &._withError {
    border-color: $colorRed;
    color: $colorRed;
    &::placeholder {
      color: rgba($colorRed, 0.5);
    }
  }
  &_wrapper {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    z-index: 1;
    cursor: pointer;
    transition: 0.25s $ease;
    &:hover {
      .checkbox_label {
        color: $colorPrimary;
      }
    }
  }
  &_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1px;
    height: 0.1px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  &_box {
    flex: 0 0 auto;
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0;
    font-size: 0.8rem;
    border: 1px solid $colorGray200;
    background: white;
    cursor: pointer;
    color: white;
    transition: background 0.25s $ease, border 0.25s $ease;
    &._isChecked {
      background: white;
      border-color: $colorPrimary;
      :global .svg-icon {
        opacity: 1;
      }
    }
    &::after {
      display: inline-block;
      content: ' ';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      width: 0.3rem;
      height: 0.3rem;
      background: $colorPrimary;
      border-radius: 50%;
      transition: opacity 0.25s $ease;
    }
  }
  :global .svg-icon {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 0.5rem;
    color: $colorPrimary;
    transition: opacity 0.25s $ease;
  }

  &_label {
    font-size: inherit;
    line-height: inherit;
    margin-left: 0.4rem;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 1.43;
    color: $colorGray900;
    margin-top: -0.1rem;
    color: inherit;
    cursor: pointer;
    transition: color 0.25s $ease;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &.radio {
    .checkbox_box {
      border-radius: 50%;
      &._isChecked {
        :global .svg-icon {
          opacity: 0;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
