.select {
  display: block;
  &_wrapper {
    position: relative;
  }
  &_input {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    background: white;
    font-family: $baseFont;
    font-size: 0.8rem;
    color: $fontColor;
    border: 1px solid $borderColor;
    border-radius: 5px;
    padding: 0.55rem 0.8rem 0.55rem;
    transition: border 0.25s $ease, color 0.25s $ease, background 0.25s $ease;
    &::placeholder {
      color: rgba($fontColor, 0.5);
    }
    &:focus {
      border-color: $fontColor;
    }
  }

  &._small {
    :global .select-container {
      .react-select__control {
        min-height: 35px;
        border-radius: 5px;
      }
      .react-select__single-value {
        font-size: 0.7rem;
        font-weight: 600;
      }
      .react-select__value-container {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
      }
    }
  }
}

.label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.43;
  color: $colorGray700;
}

.error {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  display: inline-block;
  font-size: 0.6rem;
  color: $colorRed;
  font-weight: 500;
}
