.container {
  position: relative;
  margin-top: 2.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.6rem;
}

@include r($xl) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}

@include r($lg) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@include r($sm) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.cta {
  margin-top: 2rem;
}

.group {
  margin-bottom: 1.5rem;
}
