.container {
  position: relative;
  margin-top: 2.2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

@include r($lg) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}

.cta {
  margin-top: 2rem;
}
