.container {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &._white {
    .close {
      color: #b8b8b8;

      &:hover {
        color: $colorPrimary;
      }
    }
  }
}

.close {
  position: absolute;
  z-index: 5;
  top: 1.3rem;
  right: 1.3rem;
  padding: 0;
  font-size: 0;
  cursor: pointer;
  color: $colorGray;
  transition: color 0.25s $ease;

  :global .svg-icon {
    font-size: 0.6rem;

    &.svg-icon--arrow-left {
      display: none;
    }
  }

  &:hover {
    color: $colorPrimary;
  }
}

.content {
  display: block;

  &._full {
    padding: 0 1rem;
    overflow-y: scroll;
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}

@include r($md) {
  .head {
    flex-wrap: wrap;
  }

  .close {
    top: 0;
    right: 0;
  }
}
