.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // overflow: hidden;
  &._auth {
    .main {
      padding-left: 0;
    }
  }
}

.main {
  flex: 1 0 auto;
  padding-left: 4rem;
}
