.container {
  position: relative;
  margin: 0 0 2rem;
}

.head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid $borderColor;
}

.headDescription {
  margin: 0.2rem 0;
  font-size: 0.7rem;
  line-height: 1.43;
  color: $colorGray;
}

.section {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid $borderColor;
}

.sectionLabel {
  flex: 0 0 $col4;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.43;
  color: $colorGray700;
  p {
    margin: 0.4rem 0 0;
    color: $colorGray;
    max-width: 14rem;
  }
}

.sectionContent {
  flex: 0 0 $col8;
  padding-left: 2rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem 0;
  :global .btn {
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    min-height: 2rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
