.container {
  position: relative;
  margin: 2rem 0 4rem;
}

.wrapper {
  position: relative;
}

// .video {
// }

.videoCaption {
  margin-top: 1rem;
  cursor: pointer;
  pointer-events: all;
  :global .svg-icon {
    font-size: 4.4rem;
    color: rgba(white, 0.3);
    transition: color 0.25s $ease;
  }
  &:hover {
    :global .svg-icon {
      color: white;
    }
  }
}

.videoCaptionTitle {
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.25;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.message {
  position: absolute;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 31rem;
  min-height: 47%;
  padding: 2rem 0;
  text-align: center;
  transform: translate(-50%, -50%);
  background: rgba(48, 48, 48, 0.7);
  backdrop-filter: blur(24px);
  border-radius: 0.4rem;
  color: white;
  opacity: 0;
  pointer-events: none;
  &._active {
    opacity: 1;
    pointer-events: all;
  }
}

.messageTitle {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22;
  letter-spacing: -0.02em;
}

.messageDescription {
  margin-top: 0.2rem;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.56;
}

@include r($lg) {
  .videoCaption {
    :global .svg-icon {
      font-size: 2rem;
    }
  }
  .videoCaptionTitle {
    margin-top: 0.6rem;
    font-size: 1.2rem;
  }
}
@include r($sm) {
  .videoCaption {
    :global .svg-icon {
      display: none;
    }
  }
  .videoCaptionTitle {
    margin-top: 0;
  }
}
