.container {
  position: relative;
  margin: 2rem 0;
}

.grid {
  display: block;
  :global .invite {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $borderColor;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.cta {
  display: flex;
  justify-content: center;
}
