.box {
  display: flex;
  align-items: center;
  position: relative;
  background: $colorBg;
  border-radius: 0.4rem;
  padding: 0.8rem;
}

.boxCheckbox {
  flex: 0 0 auto;
  margin-right: 0.8em;
}

.boxActions {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
}

.boxLabel {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  color: $colorGray900;
}

.actionTimer,
.actionPlay,
.actionFlash,
.action {
  color: $colorPrimary;
  margin-right: 0.4rem;
  font-size: 0;
  min-width: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.25s $ease;
  :global .svg-icon {
    font-size: 0.9rem;
  }
  &:hover {
    color: $colorGray900;
  }
}

.actionTimer {
  margin-right: 0;
  span {
    display: inline-block;
    min-width: 2.2rem;
    font-weight: 500;
    margin-left: 0.4rem;
    font-size: 0.6rem;
  }
}

.actionPlayer {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}
.actionPlay {
  :global .svg-icon--stop-circle {
    display: none;
  }
  &._playing {
    :global .svg-icon--stop-circle {
      display: block;
    }
    :global .svg-icon--play-circle {
      display: none;
    }
  }
}

@include r($md) {
  .box {
    flex-wrap: wrap;
  }

  .boxCheckbox {
    flex: 0 0 1.6rem;
    margin-right: 0;
    order: 1;
  }

  .boxLabel {
    flex: 0 0 calc(100% - 1.6rem);
    order: 2;
  }
  .boxActions {
    order: 3;
    margin-top: 0.6rem;
    flex: 1 1 100%;
  }
}
